@charset "utf-8";
/* CSS Document */
/* CSS reset */
body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0; border:none; }
table{border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption, cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul,li {list-style:none;}
capation,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before, q:after{content:' '}
abbr,acronym{border:0;}
.clearfix:after{content:'';display:block;clear:both;height:0;overflow:hidden;}
.clearfix{zoom:1;}
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.fb{font-weight:bold;}
.fn{font-weight:normal;}
.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}

.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.bc{margin-left:auto;margin-right:auto;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.cb{clear:both;}
.cl{clear:left;}
.cr{clear:right;}
*html .clearfix{height:1%}
.Clearfix{display:block;}
.vm{vertical-align:center;}
.pr{position:relative;}
.pa{position:absolute;}
.abs-right{position:absolute;right:0;}
.zoom{zoom:1}
.hidden{visibility:hidden;}
.none{display:none;}

.w50{width:50px;}
.w100{width:100px;}
.w{width:100%;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt100{margin-top:100px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb80{ margin-bottom:80px;}
.mb100{margin-bottom:100px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml50{margin-left:50px;}
.ml100{margin-left:100px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr50{margin-right:50px;}
.mr100{margin-right:100px;}
.p5{padding:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p30{padding:30px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt50{padding-top:50px;}
.pt100{padding-top:100px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb50{padding-bottom:50px;}
.pb100{padding-bottom:100px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl50{padding-left:50px;}
.pl100{padding-left:100px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr50{padding-right:50px;}
.pr100{padding-right:100px;}

a{color:#303030;text-decoration:none;}
a:hover{color:#E03236;}
body{font-family: "Microsoft YaHei","Hiragino Sans GB","STHeiti","SimSun","Arial"; font-size:12px;width:100%;height:100%;min-width:1280px;color:#303030;}
.c90{ color:#909090;}
.c60{ color:#606060;}
input,button,select{font-family: "Microsoft YaHei","Hiragino Sans GB","STHeiti","SimSun","Arial";}
input::-webkit-input-placeholder {color: #9b9b9b;}
.wrap{width: 1192px;margin:0 auto;}

/*公用头部*/
.page-header{width: 100%;height: 50px;padding-top:15px;padding-bottom:10px;position:relative;z-index:500;background: #fff;}
.page-header .lines{height:35px; width:1px; overflow:hidden; background:#ddd; margin:4px 0 0 10px;border-radius: 2px;}
.page-header .logo{ display:inline-block; width:100px; height:44px;margin-top:-2px;background-image:url(/images/common/logo2.png);background-image:-webkit-image-set(url(/images/common/logo2.png) 1x,url(/images/common/logo2@2x.png) 2x);background-position:center center;background-repeat:  no-repeat;}
.page-header .logo h1{text-indent: -99999px;visibility: hidden;}
.page-header .pages-tits{ display:block;margin-top: 2px; font-size:14px; color:#E03236;}
.page-header .change-city{display:inline-block;color: #4A4A4A;margin-top:2px;font-size:12px;margin-left:0;padding-left:10px;position: relative;white-space: nowrap;}
.page-header .version-logo{display:none;width:62px;height:23px;line-height:23px;text-align:center;background:#3E97FC;color:#fff;border-radius:6px 0px 6px 0px;font-size:16px;margin:13px 0 0 10px;font-weight:500;}
.page-header .login-show{display:inline-block;margin-left:5px;line-height:44px;font-size:12px;color: #4a4a4a; }
.page-header .login-show a,
.page-header .login-show span{color: #666;cursor: pointer;}
.page-header .login-show span:hover{color: #E03236;}
.page-header .login-show .xzapp-btn{display:block;position: relative;white-space: nowrap;}
.page-header .login-show .line{width:1px;height:12px;margin:16px 10px;background:#ddd;}
.page-header .xzapp-btn .xzapp{display: none;position: absolute;top:30px;left:-44px;width: 139px;height: 159px;}
.page-header .xzapp-btn:hover .xzapp{display: block;}
.page-header .xzapp-btn .xzapp img{width: 100%;}
.page-header .login-show .username{font-size:12px;max-width:180px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.page-header .download-app{position: relative;height: 30px;margin: 7px 10px 0;line-height:30px;padding:0 10px;border:1px solid #ddd;border-radius:2px;color: #4A4A4A;}
.page-header .download-app .xzapp{width: 133px;height: 159px;position: absolute;top:30px;left: -30px;z-index: 8;display: none;}
.page-header .download-app .xzapp img{width: 100%;}
.page-header .download-app:hover .xzapp{display: block;}
.page-header .header-nav{display: inline-block;height:40px;padding:2px 0;margin-right:10px;}
.page-header .header-nav li{float: left;_display:inline;height: 40px;line-height: 40px;position: relative;}
.page-header li .link-nav{display: block;padding:0 13px;font-size: 16px;color: #00000E;}
.page-header li .link-nav:hover{color: #E03236;text-decoration: none;}
.page-header li .main-nav{float:left;padding:0 15px;font-size: 16px;height:35px;line-height:40px;color: #00000E;border:1px solid transparent\9;}
.page-header li.on .main-nav,
.page-header li:hover .main-nav{position:relative;border:1px solid #e9e9e9\9;border-bottom:none\9;color: #E03236;/*font-weight: bold;*/z-index:1;background:#fff;}
.page-header .sub-nav{display:none;position:absolute;padding:10px 0;left:0;top:35px;width:107px;background: #fff;border:1px solid #e9e9e9\9;font-size:14px;}
.page-header li:hover .sub-nav{display: block;}
.page-header .sub-nav a{display:block;line-height: 30px;text-align: center;color: #4a4a4a;}
.page-header .sub-nav a:hover{color: #E03236;}

/* 当鼠标移入菜单时显示的阴影 */
.page-header .has-shadow{display: none;}
.page-header li:hover .has-shadow{display: block;}
.page-header .has-shadow:before,
.page-header .has-shadow:after {content: "";position: absolute;z-index: -1;top: 0;left: 0;width: 100%;height: 35px;box-shadow: 0px 0px 5px rgba(0,0,0,.2);}
.page-header .sub-nav.has-shadow:before,
.page-header .sub-nav.has-shadow:after{height:100%;}

/* 搜索 */
.search-details{ position:relative; z-index:100; width:1192px; margin:0 auto;padding: 10px 0 20px;color: #4a4a4a;}
.search-details .search-box .inputwrap{ width:580px; height:42px;float:left; color:#606060; border:1px solid #ddd; border-right:none;border-top-left-radius: 2px;border-bottom-left-radius: 2px;}
.search-details .search-box .diy-placehd-style{top:10px;left:15px;color: #aaa;}
.search-details .search-box input{border-radius: 2px;font:normal 14px "Microsoft YaHei","Hiragino Sans GB","STHeiti","SimSun","Arial"; width:565px;height:24px; line-height:24px;padding:9px 0 9px 15px; padding:9px 0 9px 15px\9; *padding:8px 0 8px 15px;border:0; outline:none;}
.search-details .search-box button{float:left; width:64px;  height:44px; border:none;color:#fff;padding:0;cursor:pointer;background: #E03236;border-top-right-radius: 2px;border-bottom-right-radius: 2px;}
.search-details button .search_icon{display: block;width:18px;height:18px;margin:10px auto;background-image:url(/images/common/comm_icon.png);    background-image: -webkit-image-set(url(/images/common/comm_icon.png) 1x,url(/images/common/comm_icon@2x.png) 2x);background-position: 0px 0px;background-repeat: no-repeat;}
.search-details .search-box em{ float:left; display:inline-block; height:17px; width:1px;overflow:hidden; background:#dcdcdc; margin:11px 0 0 20px;}
.search_result{display:none;position:absolute;top:53px;left:0;width:643px;z-index:101;background: #FFFFFF;border: 1px solid #DDDDDD;border-top:none;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);border-radius: 0 0 2px 2px;}
.search_result .searchContextTit{height:36px;line-height:36px;padding:0 15px;background:#eee;color:#9b9b9b;overflow:hidden;}
.search_result .searchContextTit a{color: #9b9b9b;}
.search_result .searchContextTit.cur{background:#eee; }
.search_result li{height:38px;line-height:38px;cursor:pointer;padding:0 15px;overflow:hidden;font-size: 14px;}
.search .search-cont #result_infos li.hover{background:#f1f1f1}
.search_result li span b{font-weight:bold}
.search_result li span b,.search_result li span strong{color:#151515;}
.search-box-forlist .search_result{ top:29px;border:1px solid #e8e8e8; width:327px;}
.search_result li div span{margin-right:0;overflow:hidden;height:30px;}
.search_result li div label{float:right;}
.search_result li.cur{background: #F9F9F9;}
.search_result li.cur font,.search_result li.cur span, .search_result li.cur span b{/*color:#E03236 !important;*/}
.search_result li.cur strong,.search_result li.cur span b,.search_result li.cur div b{color:#E03236;}
.search_result .searchContextTit.cur span{color:#9b9b9b !important;}
.search_result .strong-overflow-hide{display: block;width: 70%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.span-overflow-hide{ float:left; max-width: 190px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#hotsearch_result{line-height: 44px;}
.resou-name{max-width: 90px;font-size:13px;color:#4a4a4a;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.map_room{float: right;line-height: 44px;font-size: 16px;color: #4a4a4a;}
.map_room .map_icon{float: left;width: 16px;height: 19px;margin-top: 13px;margin-right: 5px;background-image:url(/images/common/comm_icon.png);background-image: -webkit-image-set(url(/images/common/comm_icon.png) 1x,url(/images/common/comm_icon@2x.png) 2x);background-position: -20px 0px;background-repeat: no-repeat;}

/* 公用侧栏 */
.page-fix-right{position:fixed;right:0;top:0;width:40px;height:100%;background: #FFFFFF;box-shadow: 0 4px 18px 0 #999;border-left:1px solid #cecece\9;z-index:800;}
.fix-right-center{position:absolute;width:100%;top:50%;margin-top:-350px;}
.fix-right-bottom{position:absolute;width:100%;bottom:10px;display:none;}
.page-fix-right .fix-nav{display:block;height:30px;margin:6px 0;padding:6px 0;text-align: center;position: relative;}
.page-fix-right .fix-nav.line-two{height: 64px;}
.page-fix-right .fix-nav i{display: block;width:16px;height:15px;margin:0 auto;}
.page-fix-right .fix-nav .em{font-size: 12px;color: #252525;line-height: 18px;}
.page-fix-right .fix-nav:hover{background: #3C4A55;}
.page-fix-right .fix-nav:hover .em{color: #FFFFFF;}
.page-fix-right .line{display: block;width:20px;height:1px;margin:0;margin-left:10px;background: #B6B6B6;}
.page-fix-right .fix-nav .popup {display:none;position: absolute;width:105px;height:42px;line-height:42px;right: 40px;top: 0;color: #fff;font-size: 12px;background: #E03236;white-space: nowrap;
	-webkit-animation: popup 1s 1 linear;
	-moz-animation: popup 1s 1 linear;
	-ms-animation: popup 1s 1 linear;
	animation: popup 1s 1 linear;
}
.page-fix-right .fix-nav .popup i {position: absolute;right: 0;top: 50%;width: 0;height: 0;margin: -5px -10px 0 0;font-size: 0;border: 5px solid;border-color: transparent transparent transparent #E03236;overflow: hidden}
.page-fix-right .fix-nav:hover .popup {display: block;}
.page-fix-right .fix-nav .popewm{top:auto;bottom:0;background: #fff;width:91px;height:110px;border: 1px solid #A5A5A5;}
.page-fix-right .fix-nav .popewm i{top:auto;bottom:16px;border-color: transparent transparent transparent #fff;}
.page-fix-right .fix-nav .popewm img{display:block;width:82px;height:82px;margin:5px auto 0;}
.page-fix-right .fix-nav .popewm em{display:block;font-size:12px;color: #4A4A4A;line-height: 20px;}
.page-fix-right .fix-nav i{display: block;background-repeat: no-repeat;background-image: url(/images/fix-right/icon5.png);background-image: -webkit-image-set(url(/images/fix-right/icon5.png) 1x,url(/images/fix-right/icon5@2x.png) 2x); }
.page-fix-right .fix-nav .icon1{width: 14px;height: 13px;background-position: -10px -10px;}
.page-fix-right .fix-nav .icon2{width: 16px;height: 15px;background-position: -10px -43px;}
.page-fix-right .fix-nav .icon3{width: 14px;height: 16px;background-position: -10px -78px;}
.page-fix-right .fix-nav .icon4{width: 14px;height: 14px;background-position: -10px -114px;}
.page-fix-right .fix-nav .icon5{width: 15px;height: 13px;background-position: -10px -148px;}
.page-fix-right .fix-nav .icon6{width: 16px;height: 17px;background-position: -10px -182px;}
.page-fix-right .fix-nav .icon7{width: 15px;height: 13px;background-position: -10px -220px;}
.page-fix-right .fix-nav .icon8{width: 16px;height: 16px;background-position: -10px -254px;}
.page-fix-right .fix-nav .icon9{width: 18px;height: 18px;background-position: -10px -290px;}
.page-fix-right .fix-nav .icon10{width: 18px;height: 18px;background-position: -10px -328px;}
.page-fix-right .fix-nav .icon11{width: 18px;height: 18px;background-position: -10px -364px;}
.page-fix-right .fix-nav .icon12{width: 18px;height: 18px;background-position: -10px -393px;}
.page-fix-right .fix-nav .icon13{width: 18px;height: 18px;background-position: -10px -429px;}
.page-fix-right .fix-nav:hover .icon1{background-position: -46px -10px;}
.page-fix-right .fix-nav:hover .icon2{background-position: -46px -43px;}
.page-fix-right .fix-nav:hover .icon3{background-position: -46px -78px;}
.page-fix-right .fix-nav:hover .icon4{background-position: -46px -114px;}
.page-fix-right .fix-nav:hover .icon5{background-position: -46px -148px;}
.page-fix-right .fix-nav:hover .icon6{background-position: -46px -182px;}
.page-fix-right .fix-nav:hover .icon7{background-position: -46px -220px;}
.page-fix-right .fix-nav:hover .icon8{background-position: -46px -252px;}
.page-fix-right .fix-nav:hover .icon9{background-position: -45px -290px;}
.page-fix-right .fix-nav:hover .icon10{background-position: -45px -328px;}
.page-fix-right .fix-nav:hover .icon11{background-position: -45px -364px;}
.page-fix-right .fix-nav:hover .icon12{background-position: -45px -393px;}
.page-fix-right .fix-nav:hover .icon13{background-position: -45px -429px;}
.page-fix-right .fix-nav.red:hover{background-color: #E03236;height:auto;min-height:30px;}
.page-fix-right .fix-nav.red em{color:#E03236;line-height: 14px;margin-top: 4px;display: block;}
@-webkit-keyframes popup{0%{right:55px;opacity:0;}30%{right:40px;opacity: 1;}}
@-moz-keyframes popup{0%{right:55px;opacity:0;}30%{right:40px;opacity: 1;}}
@-ms-keyframes popup{0%{right:55px;opacity:0;}30%{right:40px;opacity: 1;}}

.page-fix-right .compareWrap{position: relative;}
.page-fix-right .icon9 .compareNum{dipslay:none;position: absolute;top: 14px;right: 9px;width: 12px;height: 12px;line-height: 12px;text-align: center;background: #E03236;font-size: 11px;color: #fff;border-radius: 50%;font-style: normal;}
.page-fix-right .compareBox{display:none;position: absolute;width:355px;height:auto;background: #fff;right: 40px;top: -100px;color: #fff;font-size: 12px;white-space: nowrap;
	-webkit-animation: popup 1s 1 linear;
	-moz-animation: popup 1s 1 linear;
	-ms-animation: popup 1s 1 linear;
	animation: popup 1s 1 linear;
}
.page-fix-right .compareWrap:hover .compareBox {display: block;}
.page-fix-right .compareBox i{position: absolute;right: 0;top: 120px;width: 0;height: 0;margin: -5px -10px 0 0;font-size: 0;border: 5px solid;border-color: transparent transparent transparent #fff;}
.page-fix-right .none-compare{display:none;width:355px;height:200px;padding-top:74px;background: #ffffff;box-shadow: 0 0 6px 0 rgba(0,0,0,0.20);text-align: center;}
.page-fix-right .none-compare .icon-none{display: block;margin:0 auto 15px;width:101px;height:72px;background: url("../../images/fix-right/default.png") no-repeat center center;}
.page-fix-right .none-compare p{display:block;font-size: 16px;color: #999999;line-height:26px;margin-bottom:2px;}
.page-fix-right .none-compare a{display:block;font-size: 14px;color: #0082FF;line-hegiht:24px;}
.page-fix-right .compareList{width:355px;height:auto;padding-bottom:28px;background: #ffffff;box-shadow: 0 0 6px 0 rgba(0,0,0,0.20);text-align: left;}
.compareList .hd{height:54px;margin:0 25px;border-bottom:1px solid #EEEEEE;}
.compareList .hd .title{font-size: 18px;color: #333333;font-weight: bold;line-height:54px;float: left;}
.compareList .hd .desc{margin-left:12px;font-size: 12px;color: #999999;line-height:32px;float: left;margin-top: 12px;}
.compareList .hd .clear{float:right;font-size: 12px;color: #222222;line-height:32px;margin-top:13px;clear:none;}
.page-fix-right .list-item{height:94px;padding:0 25px;}
.page-fix-right .list-item:hover{background: #F6F6F6;}
.page-fix-right .housesContainer{padding:15px 0px;border-bottom:1px solid #E6E6E6;position: relative;}
.page-fix-right .list-item:last-child .housesContainer{border:none;}
.housesContainer img{width:84px;height:63px;margin-right:15px;}
.housesContainer .house-detail{width:200px;}
.housesContainer .houseTitle{width:200px;font-size: 15px;color: #333333;line-height: 15px;font-weight: bold;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.housesContainer .attr{margin-top:10px;font-size: 12px;color: #999999;line-height:12px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.housesContainer .attr em{padding-right:5px;margin-right:5px;position: relative;}
.housesContainer .attr em:after{content:"";position: absolute;right:0;top:2px;width:1px;height:12px;background: #dddddd;}
.housesContainer .attr .no-border:after{background: transparent;}
.housesContainer .price{margin-top:10px;color: #E03236;line-height:16px;}
.housesContainer .price .num{font-size: 16px;}
.housesContainer .price .unit{font-size: 12px;}
.housesContainer .delBtn{display:none;position: absolute;right:0;bottom:15px;text-align:center;width:42px;height:22px;line-height:22px;border: 1px solid #999999;border-radius: 2px;font-size: 12px;color: #666666;cursor: pointer;}
.housesContainer:hover .delBtn{display: block;}
.compareList .compareBtn{display:none;float:left;width:307px;height:42px;margin:0 auto;margin-left:25px;line-height:42px;background: #E03236;font-size: 16px;color: #FFFFFF;text-align: center;}
.compareList .compareBtn.disabled{background: #444444;}

/* 底部公用 */
.footer{min-height:305px;margin-top:20px;background:#222 url(../../images/footer/foot_bg.png) no-repeat center bottom;color: #888;}
.footer-wrap{max-width: 1190px;min-width:1190px;margin:0 auto;}
.footer-wrap .footer-links{padding:25px 0;min-height:24px;line-height:24px;font-size:14px;color:#666; text-align:left; position:relative; z-index:1;border-bottom:1px solid #333;}
.footer-wrap .footer-links a{float:left;margin-right:20px;color:#F6F6F6;}
.footer-wrap .footer-links em{float:right;color: #DDDDDD;}
.footer-wrap .footer-links a:hover{text-decoration: underline;}
.footer-wrap .footer-hot-links{width:100%;padding-top:5px;}
.footer-hot-links .foot-tab{margin-bottom:15px;}
.footer-hot-links .foot-tab span{float: left;margin:10px 10px 0 0;padding:0 10px;height:30px;line-height: 30px;background: #111;color: #888;font-size:14px;cursor: pointer;-webkit-transition: all .3s ease;transition: all .3s ease;}
.footer-hot-links .foot-tab span a.ft{background: #111;color: #888}
.footer-hot-links .foot-tab span.hover,
.footer-hot-links .foot-tab span.hover a.ft{background: #333;color: #ddd;}
.footer-hot-links .foot-tab-boxs{min-height: 103px;line-height: 22px;font-size: 12px;}
.footer-hot-links .foot-sort{margin-bottom:10px;color: #888;}
.footer-hot-links .foot-sort a{display: inline-block;;margin-right:5px;color: #888;}
.footer-hot-links .foot-sort a:hover,.footer-hot-links .foot-sort a.hover{color: #ddd;}
.footer-hot-links .foot-tab-box{height:66px;overflow: hidden;display: none;}
.footer-hot-links .foot-tab-box.active{display: block;}
.footer-hot-links .foot-tab-box a{margin-right:10px;display:inline-block;color: #888;}
.footer-hot-links .foot-tab-box a:hover{color:#ddd;}
.footer-copyright{margin-top:20px;padding:25px 0 30px;border-top:1px solid #333;}
.footer-copyright p{font-size:12px;line-height:22px;}
.footer-copyright p a{color:#888;}
.footer-copyright p a:hover{color:#ddd;}
.footer-copyright p span{float:left;}
.footer .sprite {float:left;background-image:url(../../images/footer/foot_icon.png);background-image:-webkit-image-set(url(../../images/footer/foot_icon.png) 1x,url(../../images/footer/foot_icon@2x.png) 2x);background-position:center center;background-repeat: no-repeat;}
.footer .sprite-icon1 {width: 20px;height: 21px;margin-right:5px;background-position: -2px -2px;}
.footer .sprite-icon2 {width: 20px;height: 20px;margin-right:5px;background-position: -2px -27px;}

/* page */
div.jjs-page1 { padding:20px 10px; font-size:13px; color:#48b9ef; font-family:arial, helvetica, sans-serif; background-color:#fff; text-align:center}
div.jjs-page1 a { border:1px solid #F1F1F1; padding:6px 10px; margin:0 2px; color:#999; text-decoration:none}
div.jjs-page1 a:hover { border:#B3D1FF 1px solid; color:#B3D1FF;}
div.jjs-page1 span.current { border:#B3D1FF 1px solid; padding:6px 10px; font-weight:bold; color:#fff; background-color:#B3D1FF}
div.jjs-page1 span.disabled { display:none}

/* xqpd */
.xqpd_page{margin:30px 0 60px;width:100%;height:40px;}
.xqpd_page span.current,.xqpd_page a,.xqpd_page span.disabled{float:left;height:40px;line-height:40px;padding:0 12px;cursor:pointer;background-color:#fff;margin-right:5px;font-weight:bold;font-size:14px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;-webkit-box-shadow:3px 3px 3px #c8c8c8;-moz-box-shadow:3px 3px 3px #c8c8c8;-ms-box-shadow:3px 3px 3px #c8c8c8;box-shadow:3px 3px 3px #c8c8c8;}
.xqpd_page span.current{color:#E03236;}
.xqpd_page span.disabled{display:none;}

/* 搜索 */
.search_tip{font-size:14px;width:100%;height:20px;line-height:20px;margin:10px 0;padding:12px 0;text-align:center;background-color:#f8f8f8;overflow:hidden;}
.xqpd_main .search_tip{margin-top:-30px;}
.search_tip_ico{vertical-align:middle;margin-right:10px;margin-top: -2px;}
.search_tip span.red{color:#E03236;}

/*搜索下拉*/
.search_result li .sear-re-tag{
	display: inline-block;
	font-size: 10px;
	padding:0 4px;
	height: 13px;
	line-height: 13px;
	margin-top: 12px;
	margin-left: 5px;
}
.search_result li .onsale{
	color: #fff;
	background-image: linear-gradient(-270deg, #FF322D 0%, #FF795F 100%);
	border-radius: 0.02rem;
}
.search_result li .waitsale{
	color: #fff;
	background-image: linear-gradient(-270deg, #516CC0 0%, #6280DD 100%);
	border-radius: 0.02rem;
}
.search_result li .saled{
	color: #ffffff;
	background: #CFCFCF;
	border-radius: 0.02rem;
}
.search_result li .room-num{
	color: #5064A3;
	background: #CFCFCF;
	background: rgba(80,100,163,.06);
	border-radius: 1px;
}

/*导航栏字体*/
.list-details-page a{font-size:14px;}

/* 城市切换 */
.bound-city{position: fixed;width:100%;height:100%;left:0;top:0;z-index:999;opacity:0;visibility:hidden;}
.bound-city.bounceIn{opacity:1;visibility:visible;}
.bound-city .mask{position: absolute;width:100%;height:100%;background: #000000;opacity: 0.5;filter:alpha(opacity=50);}
.city-box{position: absolute;top:0;left:0;right:0;bottom:0;width: 640px;height:505px;margin:auto;box-sizing:border-box;background-color: #fff;z-index: 1000;border-radius: 2px;box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);  }
.bounceIn .city-box{
	-webkit-animation: bounceIn 0.5s ease-in-out;
	animation: bounceIn 0.5s ease-in-out;
}
.city-box .bound-closed{position:absolute !important;top:14px;right:14px;width:20px;height:20px;background-image: url(../../images/common/city-close.png);-webkit-image-set(url(../../images/footer/city-close.png) 1x,url(../../images/city-close@2x.png) 2x);background-position: center center;background-repeat: no-repeat;}
.city-box h5{padding:20px 0px 10px 30px;height:30px;line-height:30px;color: #333333;font-size: 20px;font-weight: bold;}
.city-box .city-search {width:576px;height:40px;margin-top:15px;margin-left:30px;position: relative;}
.city-box .city-search .city-input{box-sizing:border-box;width:100%;height:40px;padding:0 15px;border:1px solid #dddddd;border-radius:2px;outline: none;background-image: url(../../images/common/search2.png);-webkit-image-set(url(../../images/footer/search2.png) 1x,url(../../images/search2@2x.png) 2x);background-position:540px center;background-repeat: no-repeat;}
.city-search .city-result{box-sizing:border-box;position:absolute;top:40px;left:0;width:100%;z-index:1;background: #FFFFFF;border: 1px solid #DDDDDD;border-top:none;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);border-radius: 0 0 2px 2px;}
.city-search .city-result li{height:38px;line-height:38px;cursor:pointer;padding:0 15px;overflow:hidden;font-size: 14px;}
.city-search .city-result li:hover{background:#f1f1f1;}
.city-search .city-result li a{display: block;}
.city-box .city-hot{margin:10px 30px;line-height:34px;font-size:14px;}
.city-box .city-hot .tit{color:#999;}
.city-box .city-hot a{color:#333;margin-right:10px;}
.city-box .city-opts{margin-top:10px;padding:0 15px 0px 30px;height: 240px;overflow-y: auto;}
.city-box .city-opts::-webkit-scrollbar{width: 6px;height: 6px;background-color: #fff;}
.city-box .city-opts::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);border-radius: 10px;background-color: #fff;}
.city-box .city-opts::-webkit-scrollbar-thumb{height: 20px;border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);background-color: #ccc;}
.city-box .city-opts ul{width:48%;line-height:35px;}
.city-box .city-opts li{position: relative;}
.city-opts li .icons{position:absolute;font-size: 14px;color: #999999;}
.city-opts li p{display: inline-block;padding-left:26px;font-size: 14px;color: #333333;}
.city-opts li p a{float:left;margin-right:10px;color: #333333 !important;}
.city-opts li p a:hover{color:#E03236 !important;}

/* im相关 */
.im-toast{position:absolute;width:100%;height:100%;top:0;left:0;text-align: center;display: none;z-index:9999;}
.im-toast span{display:inline-block;margin:30% auto 0px;height:48px;line-height:48px;padding:0 16px;background: rgba(0,0,0,0.8);background:#2b2b2b\9;color:#EEE;font-size:14px;border-radius: 6px;}

.im-global-toast{position:fixed;width:100%;height:100%;top:50%;left:0;text-align: center;display: none;z-index:9999;}
.im-global-toast p{display:inline-block;margin:-100px auto 0px;min-height:48px;line-height:24px;padding:12px 16px;background: rgba(0,0,0,0.8);background:#2b2b2b\9;color:#EEE;font-size:14px;border-radius: 6px;}


/* 公共toast */
.comm-toast{position:fixed;width:100%;height:100%;top:50%;left:0;text-align: center;display: none;z-index:9999;}
.comm-toast span{display:inline-block;margin:-100px auto 0px;height:48px;line-height:48px;padding:0 16px;background: rgba(0,0,0,0.8);background:#2b2b2b\9;color:#EEE;font-size:14px;border-radius: 6px;}

/* 低版本浏览器提示 */
.lowBrowser{position: fixed;width:100%;height:66px;bottom:0;background: #333;z-index:99999999;text-align: center;}
.lowBrowser p{font-size:14px;color:#DDDDDD;line-height:66px;}
.lowBrowser p a{color:#DDDDDD;border-bottom:1px solid #DDDDDD;}
.lowBrowser .close{position:absolute;width:24px;height:24px;top:20px;right:30px;background: url("/images/common/close.png") no-repeat center center;}

label.diy-placehd-style{ font-family: 'Microsoft YaHei'; display: block; position: absolute; left: 10px; top: 7px; color: #ccc; cursor:text; font-size:14px; }
@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
		transform: scale(.3)
	}

	80% {
		opacity: 1;
		-webkit-transform: scale(1.05);
		transform: scale(1.05)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
		-ms-transform: scale(.3);
		transform: scale(.3)
	}

	80% {
		opacity: 1;
		-webkit-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}
}